<!--
 * This is a manifest file that'll be compiled into application.html, which will include all the files
 * listed below and their dependencies.
 *
 * Any html files within this directory, lib/assets/components, or vendor/assets/components
 * can be referenced here using a relative path.
 *
 *= require paper-checkbox/paper-checkbox
 *= require paper-button/paper-button
 *= require paper-toast/paper-toast
 *= require paper-dialog/paper-dialog
 *= require paper-dialog/paper-action-dialog
 *= require paper-radio-group/paper-radio-group
 *= require paper-fab/paper-fab
 *= require core-icon/core-icon
 *= require core-icons/core-icons

 *= require_tree .
-->
