!!!
%html
  %head
    = include_gon

    :css
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    %script{:src => "https://maps.googleapis.com/maps/api/js?libraries=visualization,geometry&sensor=true_or_false&key=AIzaSyAkaFB8bvQfKhDhQAlY4uVmcD9Xg7i9zdA", :type => "text/javascript"}
      :cdata
    :javascript
      function initialize() {
        var mapOptions = {
          center: { lat: 31.899121, lng: 34.679601},
          zoom: 9
        };
        window.map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

        $(document).trigger("map_loaded");
      }
      google.maps.event.addDomListener(window, 'load', initialize);
  %body
    #map-canvas
