!!!
%html
  %head
    = include_gon

    :css
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    %script{:src => "https://maps.googleapis.com/maps/api/js?libraries=visualization,geometry&sensor=true_or_false&key=AIzaSyAkaFB8bvQfKhDhQAlY4uVmcD9Xg7i9zdA", :type => "text/javascript"}
      :cdata
    :javascript
      function initialize() {
        var mapOptions = {
          center: { lat: 31.899121, lng: 34.679601},
          zoom: 9
        };
        window.map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

        $(document).trigger("map_loaded");
      }
      google.maps.event.addDomListener(window, 'load', initialize);
  %body
    -# %a.twitter-share-button{:href=>"https://twitter.com/share?text=מפת חום של הזרמים הפוליטים בישראל&hashtags=בחירות,בחירות2015", :style => "display: none;"}
    -#   Tweet
    -# :javascript
    -#   window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));

    #fb-root
    :javascript
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=760451830716871&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    
    #map-canvas
