body{
  direction: rtl;
}
.member{
  &:nth-child(2n){
    background: grey;
  }

  label{
    &:first-child{
      width: 175px;
    }

    font-size: 21px;
    width: 159px;
    display: inline-block;
    font-weight: bold;
  }
}
.parties{
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  color: blue;
  top: 10px;
  left: 75px;
  overflow: scroll;
  .party{
    margin-left: 22px;
  }
}


.all-gradients{
  border: solid blue 3px;
  position: absolute;
  border: solid red 3px;
  font-size: 16px;
  top: 10px;
  right: 0px;
  .color-test{
    height: 20px;
    width: 100px;
  }
}

.polimap-social{
  height: 30px;
  width: 300px;
  div, iframe{
    float: left;
    background: transparent;
  }

}
